
  <ion-content>
      <app-menu></app-menu>
      <ion-router-outlet id="main"></ion-router-outlet>
      <ion-tabs mode="md">
          <ion-tab-bar slot="bottom">
              <ion-tab-button>
                  <ion-icon src="../assets/icon/group_work.svg"></ion-icon>
                  <div class="tab-bg"></div>
              </ion-tab-button>
              <ion-tab-button (click)="btnClick()">
                  <ion-icon src="../assets/icon/home.svg"></ion-icon>
                  <div class="tab-bg"></div>
              </ion-tab-button>
              <ion-tab-button>
                  <ion-icon src="../assets/icon/spa.svg"></ion-icon>
                  <div class="tab-bg"></div>
              </ion-tab-button>
          </ion-tab-bar>
      </ion-tabs>
  </ion-content>
