.margin-bottom-6 {
    margin-bottom: 6px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-12 {
    margin-bottom: 10px;
}

.margin-bottom-14 {
    margin-bottom: 10px;
}

.underline-input {
    display: block;
    margin: 0.5em auto;
    border: none;
    padding: 0;
    width: calc(var(--maxLength) * (1ch + 0.5 * 1ch));
    color: var(--text-grey);
    background: repeating-linear-gradient(90deg, rgb(110, 110, 112) 0, var(--text-grey) 1ch, transparent 0, transparent 1ch + .5*1ch) 0 100%/ #{calc(var(--maxLength) * (1ch + .5*1ch) - .5*1ch)} 1px no-repeat;
    font: 3ch monospace;
    letter-spacing: .5*1ch;
    &:focus {
        outline: none;
        color: var(--primary-blue);
    }
}


ion-modal.fullscreen {
    &::part(content) {
        width: 85%;
        height: 73%;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        // box-shadow: 0px 6px 10px #000000;
        border-radius: 6px;
    }
    &::part(backdrop) {
        background-color: rgb(0, 0, 80, 0.8);
        --backdrop-opacity: 0.8;
    }
}
ion-modal.fullscreen-select-address {
    &::part(content) {
        width: 323px;
        height: 373px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        // box-shadow: 0px 6px 10px #000000;
        border-radius: 6px;
    }
    &::part(backdrop) {
        background-color: rgb(0, 0, 80, 0.8);
        --backdrop-opacity: 0.8;
    }
}

ion-modal.choose-hybrid-modal {
    &::part(backdrop) {
        background-color: rgb(0, 0, 80);
        --backdrop-opacity: 0.95;
    }
    &::part(content) {
        background: transparent;
        height: 50%;
        width: 90%;
        position: absolute;
        text-align: center;
    }
}

ion-modal.choose-batch-modal {
    &::part(backdrop) {
        background-color: rgb(0, 0, 80);
        --backdrop-opacity: 0.8;
    }
    &::part(content) {
        background: white;
        height: 55%;
        width: 70%;
        position: absolute;
        text-align: center;
        border-radius: 6px;
    }
}



ion-modal.select-date-popup-modal {
    &::part(backdrop) {
        background-color: rgb(0, 0, 80, 0.8);
        --backdrop-opacity: 0.8;
    }
    &::part(content) {
        background: white;
        height: 513px;
        width: 309px;
        position: absolute;
        text-align: center;
    }
}


ion-modal.select-timeIso-popup-modal {
    &::part(backdrop) {
        background-color: rgb(0, 0, 80, 0.8);
        --backdrop-opacity: 0.8;
    }

    &::part(content) {
        background: white;
        width: 288px;
        height: 193px;
        position: absolute;
        text-align: center;
        box-shadow: 0px 6px 10px #000000;
        border-radius: 6px;
    }
}




ion-modal.image-view-modal {
    &::part(backdrop) {
        background-color: rgba(0, 0, 80);
        --backdrop-opacity: 0.8;
    }
    &::part(content) {
        background: transparent;
        height: 100%;
        top: 0;
        position: absolute;
        // text-align: center;
    }
}

ion-modal.grower-edit-delete-modal {
    &::part(backdrop) {
        background-color: rgba(0, 0, 80);
        --backdrop-opacity: 0.8;
    }
    &::part(content) {
        background: transparent;
        height: 50%;
        bottom: 0;
        position: absolute;
        text-align: center;
    }
}

ion-modal.bookmark-delete-modal {
    &::part(backdrop) {
        background-color: rgba(0, 0, 80);
        --backdrop-opacity: 0.8;
    }
    &::part(content) {
        background: transparent;
        height: 190px;
        position: absolute;
        //text-align: center;
    }
}

.search-box {
    .searchbar-input-container {
        .searchbar-input {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 1px 6px #00000066;
            border-radius: 8px;
            padding-inline-start: 15px;
            letter-spacing: 1.25px;
            color: #999999;
            font-family: robotomedium, sans-serif !important;
        }
    }
    ion-icon {
        right: 16px !important;
        left: auto !important;
    }
}

.toolbar-serach {
    .searchbar-input-container {
        .searchbar-input {
            background: #FFFFFF;
            box-shadow: 0px 1px 6px #00000066;
            border-radius: 8px;
            color: #999999;
            font-family: robotomedium, sans-serif !important;
            height: 32px;
            font-size: 14px;
        }
        .searchbar-clear-icon {
            color: #b7b7b7;
        }
        .searchbar-search-icon.sc-ion-searchbar-md {
            color: #b7b7b7;
            left: 16px;
            top: 4px;
            width: 24px;
            height: 24px;
        }
    }
}





.email-input .alert-wrapper,
.alert-wrapper {
    background: #ffffff !important;
}

::-webkit-scrollbar:vertical {
    width: 3px;
}

::-webkit-scrollbar:horizontal {
    height: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #000050;
}

::-webkit-scrollbar-track {
    background-color: #0000504D;
    border-radius: 1px;
}

ion-toast.toast-custom-class {
    --border-radius: 45px !important;
    text-align: center !important;
    --width: 50%;
}

