<ion-menu contentId="main">
  <p>
    menu works!
  </p>
  <ion-button color="light" (click)="logout()">
    <ion-icon name="log-out-outline"></ion-icon>
</ion-button>
<ion-label color="light">Logout</ion-label>
</ion-menu>

