<ion-content [fullscreen]="true">

  <form name="form" >
      <div class="fieldset-card-login" style="text-align: center;margin-top: 25%;
      margin-bottom: 45px;">


          <!-- <img class="grower-image height" src="./assets/images/seedsure_nw.png" alt="Login page"> -->
          <p class="seed_sure">ABC XYZ</p>

      </div>


      <input class="underline-input" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" type="text" appMaxLength [maxlength]="15" [style.--maxLength]="15" />
      <div class="ion-text-center secondary-label">
          Username
      </div>

      <input class="underline-input" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" appMaxLength [maxlength]="15" [style.--maxLength]="15" />
      <div class="ion-text-center secondary-label">
          Password
      </div>



      <div class="fieldset-card-login log-btn-div ">

          <div class="fieldset-card-scroll">

              <ion-button class="btn-font" *ngIf="!username || !password" color="medium" shape="round" size="medium" (click)="login()">LOGON</ion-button>
              <ion-button class="btn-font" *ngIf="username && password" shape="round" size="medium" (click)="login()">LOGON</ion-button>
          </div>

      </div>

      <!-- <div class="powerby">
          <p>Better seeds powered by Seed Sure <br> A digital aid</p>
      </div> -->

  </form>

  <!-- <app-login-loader *ngIf="showLoader"></app-login-loader> -->
</ion-content>