.fieldset-card-login {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 6px;
    margin: 20px 10px;
    position: relative;
    padding: 0px;
}

.underline-input-log {
    display: block;
    margin: 0.5em auto;
    border: none;
    padding: 0;
    width: calc(var(--maxLength) * (1ch + 0.5 * 1ch));
    color: #C2C2C2;
    background: repeating-linear-gradient(90deg, #707070 0, #707070 1ch, transparent 0, transparent 1.5ch) 0 100%/calc(var(--maxLength) * 1.5ch - 0.5ch) 2px no-repeat;
    font: 3ch Roboto, Regular, monospace;
    letter-spacing: .5*1ch;
    &:focus {
        outline: none;
        // color: var(--primary-blue);
    }
    pointer-events: none;
    margin-right: 90px;
}

.underline-input-log-active {
    display: block;
    margin: 0.5em auto;
    border: none;
    padding: 0;
    width: calc(var(--maxLength) * (1ch + 0.5 * 1ch));
    color: #707070;
    background: repeating-linear-gradient(90deg, #707070 0, #707070 1ch, transparent 0, transparent 1.5ch) 0 100%/calc(var(--maxLength) * 1.5ch - 0.5ch) 2px no-repeat;
    font: 3ch Roboto, Regular, monospace;
    letter-spacing: .5*1ch;
    pointer-events: none;
    margin-right: 90px;
}

.log-btn-div {
    text-align: center !important;
    margin-top: 30%;
}

.fieldset-card-scroll button {
    background-color: brown !important;
}

.btn-font {
    font-size: 14px;
    text-transform: capitalize;
}

.sim-icon-div {
    position: absolute;
    top: 9px;
    right: 55px;
}

.icon-color {
    color: #C2C2C2;
}

.icon-color-active {
    color: #707070;
}

.height {
    height: 84px;
}

.powerby {
    /* margin-top: 85px; */
    text-align: center;
    font-size: 13px;
    font-style: italic;
    color: #000050;
}

.seed_sure {
    margin-top: 0;
    font-size: 14px;
    color: black;
}